<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <title>7WStats - Wonders Score Sheet</title>
    <meta name="description" content="7WStats! Will become your assistant to calculate the victory points of 7 Wonders, your favorite board game."> 
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
            <img src="https://raw.githubusercontent.com/jonatanjumbert/7wonders/gh-pages/assets/css/7wonderstats.png" alt="Download 7WStats - Wonders Score Sheet from Play Store" />
          
          {% if site.show_downloads %}
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.jonatanjumbert.sevenwonders.scoresheet" class="button google" title="Download 7WStats - Wonders Score Sheet from Play Store">
              <img style="margin-left: 0px" src="https://raw.githubusercontent.com/jonatanjumbert/timesapp-party/gh-pages/assets/css/google-play-badge.svg" alt="Download 7WStats - Wonders Score Sheet from Play Store" />
            </a>
          {% endif %}
        </aside>
      </div>
    </div>
  </body>
</html>
